---
layout: page
title: EDUCATION & OUTREACH
---

<section class="bg-light-gray">
  <div class="container">
    <p><span style="font-weight:600;">Training modules:</span>
      We develop and disseminate training modules as part of the AIQ-XMaS simulator.
    </p>
    <p><span style="font-weight:600;">Classroom piloting:</span>
      We pilot the CyberMAGICS training modules in classroom setting at USC and Howard University.
    </p>
    <div class="row">
      <div class="col-md-1">

      </div>
      <div class="col-md-11">
        <ul>
          {% for course in site.data.courses %}
           <li>
             <u>{{course.name}} ({{course.place}})</u>- {{course.description}}
             {% if course.website %}
             <a href="{{course.website}}" class="text-decoration-underline text-muted" style="font-style:italic;">website</a>
             {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <p><span style="font-weight:600;">Workshops:</span>
      To further train broader users, we organize one workshop each in Los Angeles and Washington, DC annually.
    </p>
	<p>
		The first workshop has been announced and is due to be held visrually from June 30th to July 2nd. Applicants who are interested can find information on how to fill the application <a href="https://magics.usc.edu/workshop/cybermagics-2022" target="_blank">here</a>.
	</p>
	<p>
		You may now view the workshop <a href="./workshop-schedule.html" target="_blank">schedule</a> from the embedded link. 
	</p>
  </div>
</section>
