---
layout: page
title: PUBLICATIONS
---
<section id="publications">
  <div class="container">
    <div class="d-flex flex-column p-3 mb-3">
      <ol>
        {%for paper in site.data.publications %}
        <li>
          {% if paper.link %}
          <a href="{{paper.link}}">{{paper.title}}</a>
          {% else %}
          {{paper.title}}
          {% endif %}
          <br />
          {{paper.author}}
          <br />          
          <i>{{paper.publisher}} </i> <strong>{{paper.page}}</strong>, {{paper.volume}}
          ({{paper.year}})
        </li>
        {% endfor %}
      </ol>
    </div>
  </div>
</section>
