---
layout: page
title: TEAM
---

<section id="team" class="bg-light-gray">
        <div class="container px-4">
          <h2>University of Southern California</h2>
          <hr>
          <div class="row g-2">
              {% for member in site.data.core_members %}
              {% if member.affiliation == "USC" %}
                <div class="col-sm-4 border-bottom">
                        {% if member.image %}
                        <img src="{{member.image}}" class="img-thumbnail rounded-circle" style="height:150px" alt="">
                        {% endif %}
                        <br>
                        <a href="{{member.website}}" class="h4"><strong>{{member.name}}</strong></a>
                        {% if member.title %}
                        (<span class="fw-bold">{{member.title}}</span>)
                        {% endif %}
                </div>
                {% endif %}

              {% endfor %}
              </div>
			  
	          <div class="row g-2">
	              {% for member in site.data.core_members %}
	              {% if member.affiliation == "USC-other" %}
	                <div class="col-sm-4 border-bottom">
	                        {% if member.image %}
	                        <img src="{{member.image}}" class="img-thumbnail rounded-circle" style="height:150px" alt="">
	                        {% endif %}
	                        <br>
	                        <a href="{{member.website}}" class="h4"><strong>{{member.name}}</strong></a>
	                        {% if member.title %}
	                        (<span class="fw-bold">{{member.title}}</span>)
	                        {% endif %}
	                </div>
	                {% endif %}

	              {% endfor %}
	              </div>
				  
              <h2>Howard University</h2>
              <hr>
              <div class="row g-2">
                  {% for member in site.data.core_members %}
                  {% if member.affiliation == "HU" %}
                    <div class="col-sm-4 border-bottom">
                            {% if member.image %}
                            <img src="{{member.image}}" class="img-thumbnail rounded-circle" style="height:150px" alt="">
                            {% endif %}
                            <br>
                            <a href="{{member.website}}" class="h3"><strong>{{member.name}}</strong></a>
                            {% if member.title %}
                            (<span class="fw-bold">{{member.title}}</span>)
                            {% endif %}
                    </div>
                    {% endif %}

                  {% endfor %}
            </div>
			
              <div class="row g-2">
                  {% for member in site.data.core_members %}
                  {% if member.affiliation == "HU-other" %}
                    <div class="col-sm-4 border-bottom">
                            {% if member.image %}
                            <img src="{{member.image}}" class="img-thumbnail rounded-circle" style="height:150px" alt="">
                            {% endif %}
                            <br>
                            <a href="{{member.website}}" class="h3"><strong>{{member.name}}</strong></a>
                            {% if member.title %}
                            (<span class="fw-bold">{{member.title}}</span>)
                            {% endif %}
                    </div>
                    {% endif %}

                  {% endfor %}
            </div>
			
            <h2>Internal Advisors</h2>
            <hr>
            <div class="row g-2">
                {% for member in site.data.internal_advisors %}               
                  <div class="col-sm-4 border-bottom">
                          {% if member.image %}
                          <img src="{{member.image}}" class="img-thumbnail rounded-circle" style="height:150px" alt="">
                          {% endif %}
                          <br>
                          <h4><strong>{{member.name}}</strong></h4>
                          {% if member.title %}
                          (<span class="fw-bold">{{member.title}}</span>)
                          {% endif %}
                  </div>

                {% endfor %}
          </div>
		  
            <h2>External Advisors</h2>
            <hr>
            <div class="row g-2">
                {% for member in site.data.external_advisors %}
                {% if member.affiliation != "HU" and member.affiliation != "USC" %}
                  <div class="col-sm-4 border-bottom">
                          {% if member.image %}
                          <img src="{{member.image}}" class="img-thumbnail rounded-circle" style="height:150px" alt="">
                          {% endif %}
                          <br>
                          <h4><strong>{{member.name}}</strong></h4>
                          {% if member.affiliation %}
                          (<span class="fw-bold">{{member.affiliation}}</span>)
                          {% endif %}
                  </div>
                  {% endif %}

                {% endfor %}
          </div>
        </div>
    </section>
