---
layout: page
title: Workshop Schedule (June 29 - July 1, 2023)
---

<section id="schedule">
	<div class="container">		
		<table class="table table-bordered">		  
		{% for event in site.data.schedule %}			
			{% if event.day %}
				<tr>
					<th colspan="4" class="text-center"> {{ event.day }}</th>
				</tr>
			  	<tr>
					<td>Time(PDT)</td>
					<td colspan="2">Topic</td>
					<td>Instructor</td>
				</tr>
			  {% else %}
			  	<tr>
					<td>{{ event.time }}</td>
					<td colspan="2">{{ event.topic }}</td>
					<td>{{ event.instructor}}</td>
				</tr>
			  {% endif %}
		{% endfor %}
		</table>
		<h6>Details on how to access workshop resources will be available soon</h6>
	</div>
</section>