<!-- Footer -->

<hr>

<footer>
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-12 col-md-1 mb-4">
        <img src="img/shieldmono-black.png" class="img-fluid" alt="usc logo">
      </div>
      <div class="col-12 col-md-1 mb-4">
        <img src="img/howard.png" class="img-fluid" alt="howard">
      </div>
      <div class="col-12 offset-md-9 me-2 col-md-1 mb-4">
        <img src="img/nsf.png" class="img-fluid" alt="nsf">
      </div>
    </div>
  </div>
</footer>
