---
layout: default
---

<!-- Page Header -->
  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h3>{{ page.grant }}</h3>
            <span class="subheading">{{ page.description }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
	  <div class="card mb-3">
	    <div class="row g-0">
	      <div class="col-md-6">
	        <div class="card-body">
	          <p class="card-text"> {{ content }} </p>
	        </div>
	      </div>
        <div class="col-md-6">
          <div class="p-4">
            <img src="{{page.background}}" class="img-fluid pt-4" alt="...">
          </div>
        </div>
	    </div>
	  </div>

  </div>
